*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

.main-container {
    width: 645px;
    margin-top: 40px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.sub-container {
    padding-left: 20px;
    padding-top: 20px;
}

.image{
    width: 600px;
    height: 300px;
    border-radius: 8px;
}

.recipe-title {
    font-family: "Young Serif", serif;
    font-weight: bold;
    letter-spacing: .1rem;
}

.recipe-paragraph {
    font-family: "Outfit", sans-serif;
    width: 92%;
    font-size: 14px;
    color: hsl(30, 10%, 34%);
}
 
.preparation-container {
    border-radius: 5px;
    background-color: hsl(30, 54%, 90%);
    width: 95%;
    padding-bottom: 4px;
}


.preparation-heading {
    padding-top: 19px;
    padding-left: 16px;
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
}


.preparation-list li{
    padding-bottom: 8px;
    list-style-type: none;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    color: hsl(30, 10%, 34%);
}

.preparation-list li::before {
    content: "•"; 
    color: hsl(332, 51%, 32%);
    display: inline-block; 
    width: 1.5em;
    margin-left: -1em;
    font-size: 17px;
}